<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\admin\AppData\Local\Programs\Python\Python311\python.exe|C:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <directoryBrowse enabled="false" />
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="bin" />
                    <add segment="obj" />
                    <add segment="App_Data" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
